<!DOCTYPE html>
<html lang="en">
  <title> Wizeline Url Shortener </title>
  <head>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  </head>

  <body>
    <div id="whole">
      <h1>Wizeline Url Shortener</h1>
      <div id="input">
        <h3> Please enter the url: <input type="url" name="url" id="url" cols="40" required pattern="https?://.+"></br></h3>
        <h4> Design your own shorten url: <input type='text' id="desireUrl" cols="40"></h4>
        <button id="submit">Transfer</button>
      </div>
      <div>
        <textarea readonly id="shortenUrl" rows="4" cols="50"></textarea>
        <button id="copy" data-clipboard-target="#shortenUrl">Copy</button>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript">

      $(document).on('ready', () => {

        $('#submit').on('click', (event) => {
          var url = { url: $('#url').val(),
                      shortenUrl: $('#desireUrl').val()};

          $.ajax({
            method: 'POST',
            url: '/',
            data: url ,
            success: (data) => {
              $('#shortenUrl').text(`http://localhost:3000/${data.shortenUrl}`);
            },
            error: (err) => {
              alert("Url already being used!")
            }
          });
        });

      });
    </script>

    <script src="https://cdn.jsdelivr.net/clipboard.js/1.6.1/clipboard.min.js"></script>

    <script>
      var clipboard = new Clipboard('#copy');

      clipboard.on('success', (e) => {
        console.log('copy successfully');
      });

      clipboard.on('error', (e) => {
        console.log(e)
      });

    </script>

  </body>
</html>
